body{
    background-color: plum;
    background-image: url(new.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;

}

body *{
    font-family: Ubuntu;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
}

a,a:hover, a:visited{
    color: #fff;
    text-decoration: none
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li {
    display: inline-block;
    margin-left:20px;
}
nav button{
    background: none;
    color:#fff;
    cursor: pointer;
    border: 0;
    font-size: 1em;
}
.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
}

.article{
    padding: 10px;
    border: 1px solid #00dba0;
    position: 
    padding-bottom: 40px;

}

.article h2{
    font-size: 1.4em
}
.article .author{
    padding: 10px;
    background: #4545a0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
}

.article-detail{
    padding: 0;
}

.article-detail .article img{
    max-width: 100%;
}
.article-detail .article h2{
    text-align: center;
    margin-top: 20px auto;
    font-size: 1.4em;
}

.article-detail .article p{
    text-align: center;
}