{% extends 'base.html' %}

{% block content%}
    <h1>Motivational Center</h1>
    <div class="articles">
    {% for article in articles %}
        <div class="article">
            <!-- <img src="{{article.thumb.url}}" alt="image coming soon"> -->
            <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
            <p>{{ article.snippet }}</p>
            <p> Published on {{ article.date }}</p>
            <p class="author"> Written by {{ article.author.username}}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
